TestManager/TestManagerClient/Connected Services/WcfServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Service?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataAccessLayer.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddNewWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewWorker" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:EditWorker" />
  </wsdl:message>
  <wsdl:message name="IService_EditWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorker" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewDepartment" />
  </wsdl:message>
  <wsdl:message name="IService_AddNewDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:EditDepartment" />
  </wsdl:message>
  <wsdl:message name="IService_EditDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDepartment" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllWorkers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWorkers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllWorkers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWorkersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetWorkerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkerById" />
  </wsdl:message>
  <wsdl:message name="IService_GetWorkerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartments" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDepartmentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentById" />
  </wsdl:message>
  <wsdl:message name="IService_GetDepartmentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddNewWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddNewWorker" message="tns:IService_AddNewWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddNewWorkerResponse" message="tns:IService_AddNewWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditWorker" message="tns:IService_EditWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditWorkerResponse" message="tns:IService_EditWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteWorker" message="tns:IService_DeleteWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteWorkerResponse" message="tns:IService_DeleteWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddNewDepartment" message="tns:IService_AddNewDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddNewDepartmentResponse" message="tns:IService_AddNewDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditDepartment" message="tns:IService_EditDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditDepartmentResponse" message="tns:IService_EditDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteDepartment" message="tns:IService_DeleteDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteDepartmentResponse" message="tns:IService_DeleteDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWorkers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllWorkers" message="tns:IService_GetAllWorkers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllWorkersResponse" message="tns:IService_GetAllWorkers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetWorkerById" message="tns:IService_GetWorkerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetWorkerByIdResponse" message="tns:IService_GetWorkerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllDepartments" message="tns:IService_GetAllDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllDepartmentsResponse" message="tns:IService_GetAllDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDepartmentById" message="tns:IService_GetDepartmentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDepartmentByIdResponse" message="tns:IService_GetDepartmentById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewWorker">
      <soap:operation soapAction="http://tempuri.org/IService/AddNewWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditWorker">
      <soap:operation soapAction="http://tempuri.org/IService/EditWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorker">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewDepartment">
      <soap:operation soapAction="http://tempuri.org/IService/AddNewDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDepartment">
      <soap:operation soapAction="http://tempuri.org/IService/EditDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartment">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWorkers">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllWorkers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkerById">
      <soap:operation soapAction="http://tempuri.org/IService/GetWorkerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentById">
      <soap:operation soapAction="http://tempuri.org/IService/GetDepartmentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8080/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>